{
	acme_dns alidns {
		access_key_id {env.ALICLOUD_ACCESS_KEY}
		access_key_secret {env.ALICLOUD_SECRET_KEY}
	}
	email email@email.com
}
:443, example.com {
		reverse_proxy * http://1.1.1.1:80
		handle /admin* {
			reverse_proxy http://1.1.1.1:80
		}
	}
